<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-2">Prihláste sa</h2>
        <form class="d-flex flex-column">
          <div class="form-group mb-2">
            <label class="form-label" for="login">Používateľské meno / Email</label>
            <input
              type="text"
              id="login"
              class="form-control form-control-lg"         
              data-required
            />
          </div>
    
          <div class="form-group mb-3">
            <label class="form-label" for="password">Heslo</label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"             
              data-required
            />
          </div>
    
          <button type="submit" class="btn btn-success btn-lg mb-2">
            Prihlásiť
        </button>
        
              <div class="divider d-flex align-items-center mb-3">
                <span class="text-center fw-bold mx-3 mb-0 text-muted">OR</span>
              </div>
    
          <div class="mb-2">
            Nemáte účet?
            <a to="/register">Registrovať</a>
          </div>
     
          </a>
        </form>
    </div>
</body>
</html>
<script>
    function checkFormValidity() {
      const invalidFieldsTexts = [];
      this.$el.querySelectorAll("[data-required]").forEach((field) => {
        if (!field.value.trim()) {
          const label = this.$el.querySelector(
            `label[for=${field.id}]`
          ).textContent;
          invalidFieldsTexts.push(label);
          this.isError = true;
        }
      });     
      if (this.isError) {
        this.errorMessage = `Prosím, vyplňte nasledujúce polia: ${invalidFieldsTexts.join(
          ", "
        )}`;
        this.showModal("Chyba!");
        return false;
      }
      return true;
    }

    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/zad1/api/login.php",
        data: JSON.stringify(this.formData),
        dataType: "json",
      })
        .done((data) => {
          this.isError = data.error;
          if (!this.isError) {
            this.body = data.body;
            this.showModal("Google authenticator");
          } else {
            this.errorMessage = data.body;
            this.showModal("Chyba!");
          }
        })
        .fail((error) => {
          console.log(error);
        });
</script>