body,html{
    height: 100vh;
    width: 100vw; 
    background-color: #1e1c45 !important;  
    color: whitesmoke;
}
.container {
    max-width: 500px !important;
  }

  .highlight {
    background-color: yellow;
    transition: background-color 0.3s ease;
  }
  
  .highlight:hover {
    background-color: gold;
  }
  